<%= render partial: "calls/users", locals:{data: @users}%>
<div id="current_user">
  <%= react_component("CurrentUser", current: @current) %>
</div>
<button id= "p" class="btn btn-primary">Find Theatres around</button>
